<header>
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/home']">Home</a>
            </li>
            <li>
                <a href="musica">Música</a>
            </li>
            <li>
                <a [routerLink]="['/cine']">Cine</a>
            </li>
            <li>
                <a href="tele">Tele</a>
            </li>
            <li>
                <a [routerLink]="['/numerodoble/88']">88</a>
            </li>
            <li>
                <a [routerLink]="['/numerodoble/91']">91</a>
            </li>
            <li>
                <a [routerLink]="['/numerodoble']">Sin números</a>
            </li>
        </ul>
    </nav>
</header>